@import url('https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700');


body {
  padding:0;
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  font-weight:300;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.6em;
  display:block;
}

.jumbotron {
  width: 100%;
  height: 90vh;
  max-height: 100vw;
  background: url(../img/quote.jpg) center center;
  background-size: 100vw;
  position: relative;
}


.jumbotron header {
  position: absolute;
  text-align: center;
  left: 10%;
  background-color: rgba(255, 255, 255, 0.5);
  bottom: 5%;
  padding: 12px;
  margin-left: -50px;
  margin-bottom: 6px;
}

.jumbotron header h1 {
  margin: 10px;
}

.wrapper {
  position: absolute;
  left: 10%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 12px;
  margin-left: -50px;
  width: 80%;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:#333;
  font-size:12px;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 50px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

section {
  margin:0 0 20px;
}

strong {
  color:#222;
  font-weight:700;
}

small {
  font-size:11px;
}

footer {
  width:270px;
  float:left;
  bottom:50px;
}

@media print, screen and (max-width: 960px) {

  .wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    padding-right:320px;
  }

  .wrapper {
    left: 0;
  }

  code, pre {
    width: auto;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  header {
    padding:0;
  }

  .wrapper {
    left: 0;
  }

  header ul, header p.view {
    position:static;
  }

  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  header ul {
    display:none;
  }

  .wrapper {
    left: 0;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
